apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: {{ include "mia-monitoring.prometheus.fullname" . | quote }}
  labels:
      {{- include "mia-monitoring.prometheus.labels" . | nindent 4 }}
  {{- with .Values.deploy.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  serviceAccountName: {{ include "mia-monitoring.prometheus.serviceAccountName" . | quote }}
  image: {{ include "mia-monitoring.prometheus.image" . | quote }}
  {{- with .Values.deploy.imagePullSecrets }}
  imagePullSecrets:
    {{- toYaml . | indent 4 }}
  {{- end }}
  replicas: {{ .Values.prometheus.replicas }}
  {{- with .Values.prometheus.resources }}
  resources:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  securityContext:
    runAsNonRoot: true
    runAsUser: 10000
    runAsGroup: 11000
    fsGroup: 12000
  logLevel: {{ .Values.logLevel | quote }}
  logFormat: "json"
  externalUrl: "http://{{ include "mia-monitoring.prometheus.fullname" . }}.{{ .Release.Namespace }}:8080"
  {{- with .Values.prometheus.externalLabels }}
  externalLabels:
    {{ toYaml . | nindent 4}}
  {{- end }}
  {{- if lt (int .Values.prometheus.replicas) 2 }}
  prometheusExternalLabelName: ""
  replicaExternalLabelName: ""
  {{- else }}
  prometheusExternalLabelName: "prometheus"
  replicaExternalLabelName: "prometheus_replica"
  {{- end}}
  paused: false
  listenLocal: false
  disableCompaction: false
  portName: "web"
  enableAdminAPI: false
  retention: {{ .Values.prometheus.data.retention | quote }}
  shards: {{ .Values.prometheus.data.numberOfShards }}
  walCompression: false
  routePrefix: "/"
  serviceMonitorSelector: {}
  serviceMonitorNamespaceSelector: {}
  podMonitorSelector: {}
  podMonitorNamespaceSelector: {}
  probeSelector: {}
  probeNamespaceSelector: {}
  {{- with .Values.prometheus.remoteWrite }}
  remoteWrite:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  ruleNamespaceSelector: {}
  ruleSelector: {}
  {{- with .Values.prometheus.storageSpec }}
  storage:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  podMetadata:
    labels:
      {{- include "mia-monitoring.prometheus.selectorLabels" . | nindent 6 }}
    {{- with .Values.deploy.annotations }}
    annotations:
      {{- toYaml . | nindent 6 }}
    {{- end }}
  affinity:
    {{- include "mia-monitoring.prometheus.podAffinity" . | nindent 4 }}
  {{- with .Values.prometheus.nodeSelector }}
  nodeSelector:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .Values.prometheus.tolerations }}
  tolerations:
    {{ toYaml . | indent 4 }}
  {{- end }}
  additionalScrapeConfigs:
    name: {{ include "mia-monitoring.prometheus.scrapeConfigSecret" . | quote }}
    key: "additional-scrape-configs.yaml"
    optional: false
  alerting:
    alertmanagers:
      - namespace: {{ .Release.Namespace | quote }}
        name: {{ include "mia-monitoring.alertmanager.fullname" . | quote }}
        port: "web"
        pathPrefix: "/"
        apiVersion: "v2"
