{{- if and (eq .Values.podDisruptionBudget.enabled true) (lt .Values.podDisruptionBudget.minAvailable .Values.deploy.replicas) -}}
apiVersion: policy/v1beta1
kind: PodDisruptionBudget
metadata:
  name: {{ include "mia-traefik-ingress.fullname" . | quote }}
  labels:
    {{- include "mia-traefik-ingress.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels: {{- include "mia-traefik-ingress.selectorLabels" . | nindent 6 }}
  {{- if .Values.podDisruptionBudget.minAvailable }}
  minAvailable: {{ .Values.podDisruptionBudget.minAvailable }}
  {{- end }}
  {{- if .Values.podDisruptionBudget.maxUnavailable }}
  maxUnavailable: {{ .Values.podDisruptionBudget.maxUnavailable }}
  {{- end }}
{{- end }}
