apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "mia-logging.roleName" . | quote }}
  labels:
    {{- include "mia-logging.labels" . | nindent 4 }}
  {{- with .Values.rbac.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
rules:
  - apiGroups:
      - ""
    resources:
      - "configmaps"
      - "secrets"
    verbs:
      - "create"
      - "delete"
      - "get"
      - "list"
      - "patch"
      - "update"
      - "watch"
  - apiGroups:
      - ""
    resources:
      - "endpoints"
      - "namespaces"
      - "nodes"
    verbs:
      - "get"
      - "list"
      - "watch"
  - apiGroups:
      - ""
    resources:
      - "persistentvolumeclaims"
      - "pods"
      - "serviceaccounts"
      - "services"
    verbs:
      - "create"
      - "delete"
      - "get"
      - "list"
      - "patch"
      - "update"
      - "watch"
  - apiGroups:
      - ""
      - "events.k8s.io"
    resources:
      - "events"
    verbs:
      - "create"
      - "get"
      - "list"
      - "watch"
  - apiGroups:
      - "apps"
    resources:
      - "daemonsets"
      - "replicasets"
      - "statefulsets"
    verbs:
      - "create"
      - "delete"
      - "get"
      - "list"
      - "patch"
      - "update"
      - "watch"
  - apiGroups:
      - "apps"
      - "extensions"
    resources:
      - "deployments"
    verbs:
      - "create"
      - "delete"
      - "get"
      - "list"
      - "patch"
      - "update"
      - "watch"
  - apiGroups:
      - "batch"
    resources:
      - "jobs"
    verbs:
      - "create"
      - "delete"
      - "get"
      - "list"
      - "patch"
      - "update"
      - "watch"
  - apiGroups:
      - "coordination.k8s.io"
    resources:
      - "leases"
    verbs:
      - "*"
  - apiGroups:
      - "extensions"
      - "networking.k8s.io"
    resources:
      - "ingresses"
    verbs:
      - "create"
      - "delete"
      - "get"
      - "list"
      - "patch"
      - "update"
      - "watch"
  - apiGroups:
      - "extensions"
      - "policy"
    resources:
      - "podsecuritypolicies"
    verbs:
      - "create"
      - "delete"
      - "get"
      - "list"
      - "patch"
      - "update"
      - "watch"
  - apiGroups:
      - "logging.banzaicloud.io"
    resources:
      - "clusterflows"
      - "clusteroutputs"
      - "flows"
      - "loggings"
      - "outputs"
    verbs:
      - "create"
      - "delete"
      - "get"
      - "list"
      - "patch"
      - "update"
      - "watch"
  - apiGroups:
      - "logging.banzaicloud.io"
    resources:
      - "clusterflows/status"
      - "clusteroutputs/status"
      - "flows/status"
      - "loggings/status"
      - "outputs/status"
    verbs:
      - "get"
      - "patch"
      - "update"
  - apiGroups:
      - "monitoring.coreos.com"
    resources:
      - "prometheusrules"
      - "servicemonitors"
    verbs:
      - "create"
      - "delete"
      - "get"
      - "list"
      - "patch"
      - "update"
      - "watch"
  - apiGroups:
      - "rbac.authorization.k8s.io"
    resources:
      - "clusterrolebindings"
      - "clusterroles"
      - "rolebindings"
      - "roles"
    verbs:
      - "create"
      - "delete"
      - "get"
      - "list"
      - "patch"
      - "update"
      - "watch"
{{- if .Values.podSecurityPolicyEnabled }}
  - apiGroups:
      - "policy"
    resources:
      - "podsecuritypolicies"
    verbs:
      - "use"
    resourceNames:
      - {{ include "mia-logging.fullname" . | quote }}
      - {{ include "mia-logging.loggingFluentdName" . | quote }}
      - {{ include "mia-logging.loggingFluentbitName" . | quote }}
{{- end }}
