{{- if .Values.prometheus.enableApiServerMonitor }}
{{- /*
This rules are lifted from the 'kube-apiserver-slos' group from https://raw.githubusercontent.com/prometheus-operator/kube-prometheus/main/manifests/kubernetes-prometheusRule.yaml
We only divide the list in sub resources for better skimming through them
*/ -}}
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: {{ printf "%s-kube-apiserver-slos-rules" .Release.Name | quote }}
  labels:
    {{- include "mia-monitoring.labels" . | nindent 4 }}
  {{- with .Values.deploy.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  groups:
    - name: "kube-apiserver-slos"
      rules:
        - alert: "KubeAPIErrorBudgetBurn"
          annotations:
            description: "The API server is burning too much error budget."
            runbook_url: "https://github.com/kubernetes-monitoring/kubernetes-mixin/tree/master/runbook.md#alert-name-kubeapierrorbudgetburn"
            summary: "The API server is burning too much error budget."
          expr: |
            sum(apiserver_request:burnrate1h) > (14.40 * 0.01000)
            and
            sum(apiserver_request:burnrate5m) > (14.40 * 0.01000)
          for: "2m"
          labels:
            long: "1h"
            severity: "critical"
            short: "5m"
        - alert: "KubeAPIErrorBudgetBurn"
          annotations:
            description: "The API server is burning too much error budget."
            runbook_url: "https://github.com/kubernetes-monitoring/kubernetes-mixin/tree/master/runbook.md#alert-name-kubeapierrorbudgetburn"
            summary: "The API server is burning too much error budget."
          expr: |
            sum(apiserver_request:burnrate6h) > (6.00 * 0.01000)
            and
            sum(apiserver_request:burnrate30m) > (6.00 * 0.01000)
          for: "15m"
          labels:
            long: "6h"
            severity: "critical"
            short: "30m"
        - alert: "KubeAPIErrorBudgetBurn"
          annotations:
            description: "The API server is burning too much error budget."
            runbook_url: "https://github.com/kubernetes-monitoring/kubernetes-mixin/tree/master/runbook.md#alert-name-kubeapierrorbudgetburn"
            summary: "The API server is burning too much error budget."
          expr: |
            sum(apiserver_request:burnrate1d) > (3.00 * 0.01000)
            and
            sum(apiserver_request:burnrate2h) > (3.00 * 0.01000)
          for: "1h"
          labels:
            long: "1d"
            severity: "warning"
            short: "2h"
        - alert: "KubeAPIErrorBudgetBurn"
          annotations:
            description: "The API server is burning too much error budget."
            runbook_url: "https://github.com/kubernetes-monitoring/kubernetes-mixin/tree/master/runbook.md#alert-name-kubeapierrorbudgetburn"
            summary: "The API server is burning too much error budget."
          expr: |
            sum(apiserver_request:burnrate3d) > (1.00 * 0.01000)
            and
            sum(apiserver_request:burnrate6h) > (1.00 * 0.01000)
          for: "3h"
          labels:
            long: "3d"
            severity: "warning"
            short: "6h"
{{- end }}
